### Read dataset

In [55]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('./Dataset - Meals.csv')
df.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"

In [56]:
# in description convert all 'side' to "Side"
df['Category'] = df['Category'].str.replace('side', 'Side')

In [57]:
df.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",Side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"

In [58]:
# Separate main meals and side meals
main_meals = df[df['Category'] == 'Main']
side_meals = df[ df['Category'] == 'Side']

In [59]:
main_meals.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
7,8,Pittu,"SLA010,SLI005,","Rice flour, Coconut, Water","25,25,10",Main,Steamed coconut rice flour,4
8,9,Lamprais,"SLA008,SLH009,SLK004","Rice, Meat, Spices","100,30,10",Main,Dutch-influenced rice and curry,5

In [60]:
side_meals.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",Side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"
5,6,Chicken Curry,"SLH006,SLI006,SLK004","Chicken, Coconut milk, Spices","40, 10, 05",Side,Rich coconut chicken curry,"1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22..."
6,7,Pol Sambol,"SLI005,SLK004,SLK016,SLE027,SLK011","Coconut, Chili, Onion,Lime,Garlic","20, 5",Side,Coconut and chili relish,"6,21,35"
9,10,Parippu,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10,10,5,0.25",Side,Creamy spiced lentil dish,"6,7,21,29,35"

In [61]:
# In side meals, check there is null values in CAT column
side_meals['Category'].isnull().sum()

0

In [62]:
meal_combinations = []

In [63]:
# # Iterate over each main meal
# for _, main_meal in main_meals.iterrows():
#     main_id = main_meal['CAT']
#     main_name = main_meal['Name']
    
#     # Find side meals that contain this main meal's ID in their CAT column
#     related_side_meals = side_meals[side_meals['CAT'].str.contains(str(main_id), na=False)]
    
#     # For each related side meal, create a combination
#     for _, side_meal in related_side_meals.iterrows():
#         side_name = side_meal['Name']
#         meal_combinations.append({
#             'Main Meal': main_name,
#             'Side Meal': side_name
#         })

In [67]:
side_meals['CAT'].isna().sum()

3

In [64]:
# in side meals, in column CAT remove all

In [70]:
# Ensure 'CAT' column in side_meals is a string and handle NaN values
side_meals['CAT'] = side_meals['CAT'].astype(str).fillna('')

# Convert 'CAT' to list of integers for comparison
def convert_to_int_list(cat_str):
    if not cat_str:
        return []  # Handle empty strings (or NaNs converted to empty)
    return [int(x.strip()) for x in cat_str.split(',') if x.strip().isdigit()]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17476\3118622638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  side_meals['CAT'] = side_meals['CAT'].astype(str).fillna('')

In [71]:

side_meals['CAT_list'] = side_meals['CAT'].apply(convert_to_int_list)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_17476\1907134137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  side_meals['CAT_list'] = side_meals['CAT'].apply(convert_to_int_list)

In [72]:
side_meals.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT,CAT_list
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",Side,Sour fish curry,"3,21,22,23,29,35","[3, 21, 22, 23, 29, 35]"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35","[3, 21, 22, 23, 29, 35]"
5,6,Chicken Curry,"SLH006,SLI006,SLK004","Chicken, Coconut milk, Spices","40, 10, 05",Side,Rich coconut chicken curry,"1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22...","[1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ..."
6,7,Pol Sambol,"SLI005,SLK004,SLK016,SLE027,SLK011","Coconut, Chili, Onion,Lime,Garlic","20, 5",Side,Coconut and chili relish,"6,21,35","[6, 21, 35]"
9,10,Parippu,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10,10,5,0.25",Side,Creamy spiced lentil dish,"6,7,21,29,35","[6, 7, 21, 29, 35]"