### Read dataset

In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('./Dataset - Meals.csv')
df.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"