In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('./Dataset - Meals.csv')
df.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"

In [2]:
# in description convert all 'side' to "Side"
df['Category'] = df['Category'].str.replace('side', 'Side')

In [3]:
df.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
0,1,Kottu Roti,"SLB002,SLH006,SLJ002,SLK004,","Roti, Vegetables, Chicken,Coconut Oil,Chilli P...","30, 40, 30,2.5",Main,Sri Lankan street food,1
1,2,Hoppers,"SLA010,SLI005,SLL001,SLJ002","Rice flour, Coconut milk, Sugar, Coconut Water...","25, 20, 5,20,2.5",Main,Delicate rice flour pancakes,2
2,3,Kiribath,"SLA009,SLI006","Rice, Coconut milk, Salt","50, 30, 2.5",Main,Traditional coconut milk rice,3
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",Side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"

In [4]:
# Separate main meals and side meals
main_meals = df[df['Category'] == 'Main']
side_meals = df[ df['Category'] == 'Side']

In [5]:

# add 200 , 150 , 10 to this record Meal_Ingredient_Quantities
side_meals.loc[side_meals['Name'] == 'Chicken Curry', 'Meal_Ingredient_Quantities'] = '200, 150, 10'

In [6]:
side_meals.loc[side_meals['Name'] == 'Chicken Curry']

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
5,6,Chicken Curry,"SLH006,SLI006,SLK004","Chicken, Coconut milk, Spices","200, 150, 10",Side,Rich coconut chicken curry,"1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22..."
20,21,Chicken Curry,"SLH006,","Chicken, Coconut milk, Spices","200, 150, 10",Side,Spicy chicken curry,"1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,23..."

In [7]:
# remove duplicate values in side meals
side_meals = side_meals.drop_duplicates(subset=['Name'])

In [8]:
side_meals.head()

,Meal_Id,Name,Meal_Ingredient_Ids,Meal_Ingredients_Names,Meal_Ingredient_Quantities,Category,Description,CAT
3,4,Fish Ambul Thiyal,"SLF006,SLE027,SLK004","Fish, Goraka, Spices","40, 0.5, 10",Side,Sour fish curry,"3,21,22,23,29,35"
4,5,Dhal Curry,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10, 20, 5",Side,Spicy lentil curry,"3,21,22,23,29,35"
5,6,Chicken Curry,"SLH006,SLI006,SLK004","Chicken, Coconut milk, Spices","200, 150, 10",Side,Rich coconut chicken curry,"1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,21,22..."
6,7,Pol Sambol,"SLI005,SLK004,SLK016,SLE027,SLK011","Coconut, Chili, Onion,Lime,Garlic","20, 5",Side,Coconut and chili relish,"6,21,35"
9,10,Parippu,"SLC001,SLI006,SLK004,SLK019","Dhal, Coconut milk, Spices,Termeric powder","10,10,5,0.25",Side,Creamy spiced lentil dish,"6,7,21,29,35"

In [9]:
def parse_ingredients(ingredients, quantities):
    ingredients_list = ingredients.split(',')
    quantities_list = [float(q) for q in quantities.strip().split(',')]  # Use float instead of int
    # Return a dictionary where keys are ingredient names and values are quantities
    return  dict(zip(ingredients_list, quantities_list))

In [10]:

# Aggregate function to combine ingredients
def aggregate_ingredients(ingredient_lists):
    aggregated = {}
    # Iterate through each ingredient list
    for ing_list in ingredient_lists:
        for ing, qty in ing_list.items():
            if ing in aggregated:
                # If the ingredient is already in the dictionary, add the quantity
                aggregated[ing] += qty
            else:
                # Otherwise, set the initial quantity
                aggregated[ing] = qty
    return aggregated